<h1>login</h1>
<form action="/login" method="POST">
    <label for="email">email</label>
    <input type="text" name="email" id="email">

    <label for="password">password</label>
    <input type="text" name="password" id="password">

    <button type="submit">submit</button>
</form>