<h1>Register</h1>
<form action="/register" method="POST">
    <label for="firstname">FirstName</label>
    <input type="text" name="firstname" id="FirstName">

    <label for="lastname">LASTNAME</label>
    <input type="text" name="lastname" id="lastname">

    <label for="username">username</label>
    <input type="text" name="username" id="username">

    <label for="email">email</label>
    <input type="text" name="email" id="email">

    <label for="password">password</label>
    <input type="text" name="password" id="password">

    <button type="submit">submit</button>
</form>